html {
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    /*margin: 0;*/
    /*overflow: hidden;*/
    margin-bottom: 75px;
}

button {
    border: none;
    background-color: white;
}

.section-1 {
    background-color: #4C4DDC;
    color: white;
    height: 220px;
    width: 100%;
    margin-bottom: 10px;
}

.wrapper-section-1 {
    gap: 20px;
}

.text-name {
    background-color: transparent;
    font-size: 18px;
}

.text-name > b {
    font-size: 24px;
}

.button_notification > button {
    height: 70px;
    width: 70px;
    background-color: #4C4DDC;
    border: none;
    transition: 0.2s ease-in-out;
}

.button_notification > button:hover {
    opacity: 0.8;
}

.button_notification > button:active {
    opacity: 0.6;
    transform: scale(0.9);
}

.input_search > input {
    background-color: #4C4DDC;
    border-radius: 10px;
    border: gray solid 2px;
    color: white;
    width: 90%;
    padding: 12px;
    outline: none;
    margin-inline: 5%;
}

.input_search > input::placeholder {
    background: url("photos-page-1/search-normal.png") no-repeat left center;
    padding: 25px;
    color: rgba(255, 255, 255, 0.68);
}

.categories {
    gap: 10px;
    color: blue;
    overflow-x: auto;
}

.button-filter {
    background-color: #f6f6f6;
    color: gray;
    border-radius: 15px;
    padding: 10px 30px;
    margin-right: 10px;
    white-space: nowrap;
}

.selected {
    background: #4C4DDC;
    color: white;
}

.see-all {
    padding: 15px;
}

.see-all > h5 {
    font-size: 18px;
}

.medic-card {
    width: 180px;
    height: 220px;
    background-color: #fbfbfb;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.gray-text {
    color: gray;
}

.button_settings-points > button {
    border: none;
    transition: 0.2s ease-in-out;
}

.button_settings-points > button:hover {
    opacity: 0.8;
}

.button_settings-points > button:active {
    opacity: 0.6;
    transform: scale(0.9);
}

.my-appointment {
    color: #000000;
}

.doctor-card {
    margin-inline: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.doctor-info .specialization {
    margin: 5px 0;
    color: gray;
}

.doctor-info .rating-score {
    margin-right: 5px;
}

.doctor-info .reviews {
    color: gray;
    font-size: 14px;
}

.menu {
    height: 75px;
    width: 100%;
    box-shadow: 10px 10px 10px 10px #d3d1d1;
    position: fixed;
    bottom: 0;
    padding: 20px;
    background-color: white;
}

.button-menu {
    height: 50px;
    width: 50px;
    border: none;
    transition: 0.2s ease-in-out;
}

.button-menu:hover {
    opacity: 0.8;
}

.button-menu:active {
    opacity: 0.6;
    transform: scale(0.9);
}