html {
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    margin: 0;
    /*overflow: hidden;*/
}

button {
    border: none;
    background-color: white;
    transition: 0.2s ease-in-out;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
    transform: scale(0.9);
}

nav {
    margin-top: 68px;
}

.section-1 {
    padding-inline: 20px;
}

.doctor-info {
    margin-top: 52px;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.wrapper-doctor-info {
    padding: 10px;
    gap: 25px;
    font-size: 14px;
}

.doctor-info p + .doctor-info span {
    white-space: nowrap;
}

.section-2 {
    padding-inline: 20px;
}

.wrapper-experience {
    text-align: center;
    margin-bottom: 20px;
}

.experience {
    padding: 10px;
    align-items: center;
}

.icon {
    background-color: #f0e8ff;
}

.section-3 {
    padding-inline: 20px;
}

p {
    font-size: 14px;
}

.button-call {
    background-color: #4C4DDC;
    width: 90%;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    margin: 20px;
    font-size: 20px;
    color: white;
    transition: 0.2s ease-in-out;
}

.button-call:hover {
    opacity: 0.8;
}

.button-call:active {
    opacity: 0.6;
    transform: scale(0.9);
}